.title{
    font-size: 50px;
    background: -webkit-linear-gradient(#fff700, #237d00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.footer{
    padding-top: 150px;
    margin-top: 150px;
}
