h1, h2, h3, h4, h5, li{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

nav li {
    padding-left: 10px;
    padding-right: 10px;
}

body{
    background: rgb(241, 243, 244);
    background: linear-gradient(180deg, rgb(241, 243, 244) 0%, rgb(202, 204, 205) 100%);
}

body, html{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#img_waterfall{
    opacity: .50;

}

.f-readonly{
    background-color: #e0e0e0;
    font-style: italic;
    color: dimgrey;
    pointer-events: none;
}

.date-arrow,
.date-arrow:active:hover{
    color: dimgray;
}
.date-arrow:hover,
.date-arrow:active{
    cursor: pointer;
    color: black;
}

.rating{
    transform: rotateY(180deg);
}

.rating input{
    display: none;

}

.rating label{
    display: block;
    cursor: pointer;
    width: 28px;

}

.rating label:before{
    content: '\f005';
    font-family: FontAwesome;
    font-weight: 400;
    position: relative;
    display: block;
    font-size: 20pt;
    color: #ccc;
}
.rating label:after{
    content: '\f005';
    font-family: FontAwesome, sans-serif;
    position: absolute;
    display: block;
    font-size: 20pt;
    color: yellow;
    top: 0;
    opacity: 0;
    transition: 0.5s;
    font-weight: 900;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
}

.quote-provider-image{
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.rating label:hover:after,
.rating label:hover ~ label:after,
.rating input:checked ~ label:after{
    opacity: 1;
}

.toggle-btn input{
    display: none;
}

.toggle-btn label{
    display: block;
    cursor: pointer;
    width: 21px;
    height: 21px;

}/*
.toggle-btn label:before{
    content: '\f078';
    font-family: FontAwesome;
    font-weight: 400;
    position: relative;
    display: block;
    font-size: 10pt;
    color: white;
}*/
.toggle-btn label:after{
    content: '\f078';
    font-family: FontAwesome, sans-serif;
    position: absolute;
    display: block;
    font-size: 10pt;
    color: white;
    top: 2px;
    left: 19px;
    transform: rotate(0deg);
    transition: 0.5s;
    font-weight: 400;
}


.toggle-btn input:checked ~ label:after{
    transform: rotate(180deg);
}

.toggle-btn input.collapsed ~ label:after{
    transform: rotate(0deg);
}

.al-hidden{
    display: none;
}

a.disabled{
    color: lightgray;
    pointer-events: none;
}

.modal-client-image{
    width: 100px;
    height: 100px;
    float: left;
    object-fit: cover;
}

.status-Pending{
    color: dimgrey;
}
.status-Approved{
    color: green;
}
.status-Declined{
    color: darkred;
}

#contents-block{
    margin-top:10px;
    width: 301px;
    padding: 10px;
    position: fixed
}

.caption{
    position: absolute;
    width:1000px;
    top: 300px;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;

}
.caption > h1{
    font-size: 90pt;
    opacity: .9;
    font-family: Asap, sans-serif;
}

.container-fluid{
    margin-right: auto;
    margin-left: auto;
    max-width: 1300px;
    min-width: 1000px;
}

.header-bar{
    min-width: 1000px;
}

.assignment-map{
    background-color: #636b6f;
    width: 105%;
    height: 400px
}

.profile-card-col{
    width:26%;
    height: 100%;
    float: left
}

.profile-id-card{
    width: 18rem;
    background-size: cover;
}

.about-span{
    min-width:20px ;
}

.links li{
    padding: 0;
}

.service-img{
    width:200px;
    height: 200px;
    margin-left: 30px;
    margin-right: 30px;
    object-fit: cover;
}

.service-container{
    overflow: hidden;
    padding-top:30px;
}

.service-caption-right{
    text-align: right;
}

.service-caption-left{
    text-align: left;
}

.profileImg{
    height: 150px;
    width: 150px;
}

#kaiparaLogo {
    object-position: Left;
    width: 250px;
}
.card-body h5{
    line-height: 50%;
    font-weight: normal;
    font-size: large;
}
#card-img-top {
    object-fit: cover;
    opacity: 1;
    height:200px;
    width: 200px;
}

.card{
    float: left;

}

#schedule{
    padding:10px
}
#nav{

    background: rgb(241, 243, 244);
    background: linear-gradient(180deg, rgb(28,83,143) 0%, rgb(84,36,119) 100%);
}
.border-3{
    border: solid 5px white;
}
#cardHeader{
    opacity: 0;
}

 textarea{
     resize: none;
 }

.user-list tbody td > img {
    position: relative;
    max-width: 50px;
    float: left;
    margin-right: 15px;
}

.table tbody > tr > td {
    font-size: 0.875em;
    background: #f5f5f5;
    /*border-top: 10px solid #fff;*/
    vertical-align: middle;
    padding: 12px 8px;
}

.table thead > tr > th > a span:after {
    content: "\f0dc";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-left: 5px;
    font-size: 0.75em;
}
