h1, h2, h3, h4, h5, li{
    font-family: 'Asap', sans-serif;
    font-weight: bold;
}

nav li {
    padding-left: 10px;
    padding-right: 10px;
}

body{
    background: rgb(241,243,244);
    background: linear-gradient(180deg, rgb(241, 243, 244) 0%, rgb(202, 204, 205) 100%);
}

body, html{
    height: 100%;
}
.pHeader{

}

.container-fluid{
    margin-right: auto;
    margin-left: auto;
    max-width: 1300px;
}


.profileImg{
    height: 150px;
    width: 150px;
}
.pHeader{

}
