#appMap{
    display:none;
}
.bookCon{

    width: 100%;
}
.jobList{
    height: 100%;
    width: 95%;
    margin: 2px;
    left: 2.5%;
}
.jobimg{
    width: 1500px
}
.cards{
    margin-top: 30px;
}


